body {
  background-color: #B2B2B2;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.MainContainer {
  display: flex;
  flex-direction: column;
  // border: 1px solid black;

  padding: 20px;
  box-sizing: border-box;
}


.variable {
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  z-index: 1000;
  padding: 20px;
  user-select: none;
}

.variable a {
  color: black;
  font-size: 1.4rem;
  font-family: "Old Standard TT", serif;
  outline: none;
  font-weight: bold;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

.Nav {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  padding: 20px;
  text-align: right;
}

.Nav a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  transition: color 0.2s;
  font-family: "Roboto", serif;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.Nav a:active {
  background-color: transparent;
}

.Nav a:focus {
  outline: none;
}

.Nav span {
  padding: 5px;
  display: inline-block;
}

.navLink {
  text-decoration: none;
  color: black;
  position: relative;
  overflow: hidden;

  span {
    position: relative;
    display: inline-block;

    &.active {
      font-weight: bold;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      background-color: black;
      width: 0;
      transition: width 0.3s ease;
    }

    &.active::after {
      width: 100%;
      transition: width 0.3s ease;
    }
  }
}

.Nav a:hover {
  color: #666;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // padding: 20px;


  margin-top: 0px;
  position: relative;
}

.home-container {



  flex-direction: column;

}

.home-content {
  padding-top: 30px;
  display: flex;
  flex-direction: column; /* Mengatur arah flex menjadi kolom */
  justify-content: flex-end; /* Mengatur item ke bagian bawah */
  align-items: flex-start;
  border-bottom: 3px solid black;
}

.middlecontent {
  display: flex;
  // align-items: center;
  flex-direction: column;
  align-items: flex-start;
  background-color: transparent;
}

.myname {
  // font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  // font-family: "Old Standard TT", serif;
  // font-family: "Roboto", serif;
  font-family: "Playfair Display", serif;
  font-size: 9rem;
  text-align: left;
  user-select: none;
}



.roman-number {
  font-size: 4rem;
  font-weight: bold;
  color: #555;
  // align-self: flex-start;
  align-self: start;
}

@media screen and (max-width: 968px) {
  .myname {
    font-size: 6rem;
  }
}

@media screen and (max-width: 468px) {
  .myname {
    font-size: 3.7rem;
  }
}

.aboutcontainer {
  text-align: right;
}

.abouttitle {
  font-family: "Playfair Display", serif;
}

.aboutme {
  width: 300px;
  font-family: "Montserrat", serif;
  user-select: none;
  text-align: right;
  margin-left: auto;
}

@media screen and (max-width: 868px) {
  .aboutme {
    width: 400px;
  }
}

@media screen and (max-width: 468px) {
  .aboutme {
    width: 300px;
    font-size: 0.7rem;
  }
}

.home-workstitle {
  font-family: "Playfair Display", serif;
}












.home-workstitle {
  font-size: 32px;
  margin: 40px 0;
}

.home-workscards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 0px;
}

.project-card {

  border: 1px solid black;
  // border-radius: 8px;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-image {
  width: 100%;
  height: 200px;
  // object-fit: cover;
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}

.project-card:hover .project-image {
  filter: grayscale(0);
}

.project-info {
  padding: 15px;
  text-align: left;
}

.project-stacks {
  font-size: 14px;
  color: #777;
  margin: 5px 0;
}

.project-title {
  font-size: 18px;
  margin: 5px 0;
  color: #333;
}

@media (max-width: 768px) {


  .home-workstitle {
    font-size: 28px;
    
  }
}

@media (max-width: 600px) {
  .home-workscards {
    grid-template-columns: 1fr; /* Satu kolom */
  }
}

@media (max-width: 480px) {

  .project-info {
    padding: 10px;
    
  }
}

.home-workscontainer{
  padding-bottom: 50px;
}

.footer {
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  border-top: 3px solid black;
}

.footer a {
  color: #777;;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}



.works-container {
  display: flex;
  flex-direction: column; /* Align items in a column */
  justify-content: center; /* Center vertically */
  height: 100vh; /* Full height of the viewport */
  margin-top: 10px;
  max-width: 100%;
  overflow-y: scroll;
  overflow: hidden;
  padding-right: 17px;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.works-container::-webkit-scrollbar {
  display: none;
}

.work-item {
  font-size: 1.2rem;
}

.project-link {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

.project-link:hover {
  color: #666;
}

.project-combined {
  display: inline;
}

.project-title {
  font-size: 1.8rem;
  font-weight: normal;
  color: inherit;
  font-family: "Old Standard TT", serif;
}

.project-meta {
  font-size: 1rem;
  color: inherit;
}



.contacts-container {
  display: flex;
  flex-direction: column; /* Align items in a column */
  justify-content: center; /* Center vertically */
  height: 100vh; /* Full height of the viewport */
  gap: 10px;
}

.contacts-container div a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
  font-family: "Old Standard TT", serif;
}

.contacts-container div a:hover {
  color: #666;
}

.infoport {
  display: flex;
  flex-direction: column; /* Align items in a column */
  justify-content: center; /* Center vertically */
  height: 100vh; /* Full height of the viewport */
  width: 200px;
  font-family: "Libre Caslon Text", serif;
  user-select: none;
}

.quote {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Libre Caslon Display", serif;
  text-align: center;
  color: black;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);

  .quote-number {
    font-size: 1.2rem;
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
    animation: noise 2s linear infinite;
    position: relative;
  }

  .quote-text {
    font-size: 1rem;
    font-style: italic;
    line-height: 1.6;
    color: #666;
    animation: noise-3 1s linear infinite;
    position: relative;
  }
}

@keyframes noise-1 {
  0%, 20%, 40%, 60%, 70%, 90% { opacity: 0; }
  10% { opacity: .1; }
  50% { opacity: .5; left: -6px; }
  80% { opacity: .3; }
  100% { opacity: .6; left: 2px; }
}

@keyframes noise-2 {
  0%, 20%, 40%, 60%, 70%, 90% { opacity: 0; }
  10% { opacity: .1; }
  50% { opacity: .5; left: 6px; }
  80% { opacity: .3; }
  100% { opacity: .6; left: -2px; }
}

@keyframes noise {
  0%, 3%, 5%, 42%, 44%, 100% { opacity: 1; transform: scaleY(1); }
  4.3% { opacity: 1; transform: scaleY(1.7); }
  43% { opacity: 1; transform: scaleX(1.5); }
}

@keyframes noise-3 {
  0%, 3%, 5%, 42%, 44%, 100% { opacity: 1; transform: scaleY(1); }
  4.3% { opacity: 1; transform: scaleY(4); }
  43% { opacity: 1; transform: scaleX(10) rotate(60deg); }
}







@media screen and (max-width: 768px) {
  .Nav a {
    font-size: 1rem;
  }

  .works-container {
    font-size: 0.8rem;
  }

  .home-container {
    flex-direction: column;
  }

  .aboutme {
    padding-top: 0px;
  }
}
